.button_header {
  gap: 10px;
  opacity: 0px;
  padding: 14px 23px;
  background: transparent;
  border: 0px;
  border-radius: 31px;
  cursor: pointer;

  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: #ffffff;

  &[aria-current="true"] {
    border: 1px solid #ffffff6c;
    /* border-image-source: linear-gradient(
      266.25deg,
      rgba(255, 255, 255, 0.399) 13.5%,
      rgba(255, 255, 255, 0.4218) 120.48%
    ); */
    background: linear-gradient(
      180deg,
      rgba(13, 13, 13, 0.24) 0%,
      rgba(0, 0, 0, 0.32) 100%
    );
  }
}
