.card {
  margin-top: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  border-radius: 48px;
  flex-shrink: 0;
  background: radial-gradient(
    111.72% 483.64% at 101.05% 3.36%,
    rgba(139, 247, 200, 0.62) 0%,
    #b9e1ec 51.56%,
    #ffffff 100%
  );
}

.button_card_hotdeal {
  padding-right: 30px;
  padding-left: 30px;
  outline: none;
  border: 0px;
  height: 52.26px;
  line-height: 52.26px;
  flex-shrink: 0;

  border-radius: 26px;
  background: #111;

  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 900;
}

.pagination_card {
  width: 85px;
  height: 5px;
  border-radius: 35px;
  background-color: #ffffff;
  padding-block: 4px;
  cursor: pointer;
  &[aria-checked="true"] {
    background: var(
      --Gradient,
      linear-gradient(90deg, #258dba 0%, #26d3e0 51.5%, #8bf6c8 98.5%)
    );
  }
}
