.main {
  background: linear-gradient(
    168deg,
    rgba(38, 211, 224, 0.2) -35.22%,
    rgba(33, 138, 182, 0.2) 33.87%,
    rgba(139, 246, 200, 0.2) 112.21%
  );
  backdrop-filter: blur(37.650001525878906px);
  position: relative;
  /* padding-top: 100px; */
  /* padding-bottom: 140px; */
}

.textFi {
  font-size: 230px;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 120%;
  letter-spacing: 10px;
  background: linear-gradient(180deg, #fff 0%, rgba(255, 255, 2550, 0) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  position: absolute;
  top: 220px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}
