.main {
  background-image: url('/background/bg-new.png');
  background-position: top;
  background-size: cover;
  /* background-color: rgb(211, 235, 243); */
}

.textCard {
  size: 20px;
  font-weight: 400;
  line-height: 120%;

  background: var(
    --Gradient,
    linear-gradient(90deg, #258dba 0%, #26d3e0 51.5%, #8bf6c8 98.5%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.card1 {
  border-radius: 10px;
  background: url('/box/image-new-2.png') lightgray 50% / cover no-repeat;
}
.card2 {
  border-radius: 10px;
  background: url('/box/image-new-1.png') lightgray 50% / cover no-repeat;
}

.input {
  height: 70px;
  padding-left: 32px;
  padding-right: 32px;

  border-radius: 11px;
  border: 1px solid #fff;
  outline: none;
  color: #222;
  background: #ecf3f5;

  &::placeholder {
    color: #666;
    opacity: 1; /* Firefox */
  }
}

.info {
  background-image: url('/box/line-firca.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;

  /* margin-top: -260px; */
  /* padding-top: 360px; */
  /* padding-bottom: 180px; */
}
