@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'swiper/css';
@import 'swiper/css/free-mode';
@import 'swiper/css/navigation';
@import 'swiper/css/thumbs';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Be Vietnam Pro', sans-serif;
}

.gradientCheckbox .m_26063560:checked,
.gradientCheckbox .m_26063560[data-indeterminate] {
  background: linear-gradient(90deg, #52bae6 0%, #67f2d1 99.99%, #51c2a7 100%);
  border-color: #fff;
  user-select: none;
}

.gradientText {
  background-image: linear-gradient(
    90deg,
    #52bae6 0%,
    #67f2d1 99.99%,
    #51c2a7 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradientUnderline {
  color: transparent;
  --g: linear-gradient(90deg, #52bae6 0%, #67f2d1 99.99%, #51c2a7 100%);
  background:
    var(--g),
    var(--g) bottom 0px left 0/100% 2px no-repeat;
  -webkit-background-clip: text, padding-box;
}

.border-b-gradient {
  border-bottom-width: 4px; /* Adjust the border width as needed */
  border-image-slice: 1;
  border-image-source: linear-gradient(to right, #52bae6, #67f2d1, #51c2a7);
}

.border-full-gradient {
  /* border-width: 2px;
  border-image-slice: 1;
  border-image-source: linear-gradient(to right, #52bae6, #67f2d1, #51c2a7);
  border-radius: 5px; 
  border-style: solid; Ensure border style is set to solid */

  background:
    linear-gradient(#fff 0 0) padding-box,
    linear-gradient(to right, #52bae6, #67f2d1) border-box;
  border: 2px solid transparent;
  display: inline-block;
}

.filter-image {
  filter: brightness(0) saturate(100%) invert(16%) sepia(5%) saturate(6%)
    hue-rotate(7deg) brightness(90%) contrast(84%);
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 200;
  background-color: yellow;
  padding: 50px;
  font-size: 20px;
}

::-webkit-scrollbar {
  width: 8px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c7c7c7;
  border-radius: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a4a4a4;
}

/* styles/globals.css */
/* .fill-white-1 {
  &&:hover {
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%)
      hue-rotate(312deg) brightness(111%) contrast(102%);
  }
} */

.group-fill-white:hover .fill-white-1 {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%)
    hue-rotate(312deg) brightness(111%) contrast(102%);
}

.chat-scroll {
  ::-webkit-scrollbar {
    width: 6px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #c7c7c7;
    border-radius: 100px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #a4a4a4;
  }
}

.ExampleComponent .swiper-button-prev,
.ExampleComponent .swiper-button-next {
  background-color: white;
  width: 40px;
  height: 40px;
  /* border: 1px solid gray; */
  border-radius: 50%;
  box-sizing: border-box;
}
.ExampleComponent .swiper-button-prev::after,
.ExampleComponent .swiper-button-next::after {
  content: '';
}
.ExampleComponent .swiper-button-prev {
  background-image: url('../../public/svg/arrow-left.svg');
  /* 이미지가 나오지않을 때, ./img/arrow-left.png로 */
  background-size: contain;
  background-position: 45% 50%;
  background-repeat: no-repeat;
  right: 5px;
  background-size: auto;
}
.ExampleComponent .swiper-button-next {
  background-image: url('../../public/svg/arrow-right.svg');
  /* 이미지가 나오지않을 때, ./img/arrow-left.png로 */
  background-size: contain;
  background-position: 45% 50%;
  background-repeat: no-repeat;
  right: 5px;
  background-size: auto;
}

.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #000;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: #007aff;
}

.swiper-pagination
  .swiper-pagination-clickable
  .swiper-pagination-bullets
  .swiper-pagination-horizontal {
  position: absolute !important;
}
