.section {
  display: grid;
  placeholder-content: center;
  width: 100%;
  background-image: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.42) 0%,
    rgba(16, 16, 16, 0.48) 100%
  );
  backdrop-filter: blur(6px);
  z-index: 100;
  position: fixed;
  top: 0;
}

.appHeader {
  display: grid;
  placeholder-content: center;
  width: 100%;
  z-index: 100;
  position: fixed;
  background-color: #fff;
}

.sectionButton {
  display: flex;
  justify-content: center;
  align-items: center;

  column-gap: 14px;
}

.boxSearch {
  height: 96px;
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.205) 0%,
    rgba(255, 255, 255, 0.287) 100%
  );
  padding: 12px 32px;
  gap: 12px;
  border-radius: 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.inputSearch {
  flex: 1;
  background: transparent;
  border: none;
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
  outline: none;

  &::placeholder {
    color: #fff;
    opacity: 1; /* Firefox */
  }
}

.boxChat {
  max-width: 382px;
  width: 100%;
  height: 260px;
  position: relative;
  cursor: pointer;
}
.btnChat {
  width: 258px;
  height: 60px;
  margin-top: 10px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 10px;
  /* border: 1px solid rgba(255, 255, 255, 0.5); */
  background: var(
    --Gradient,
    linear-gradient(90deg, #258dba 0%, #26d3e0 51.5%, #8bf6c8 98.5%)
  );

  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.iconWrapper {
  display: flex;
  width: 81px;
  height: 81px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 100px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.24) 0%,
    rgba(255, 255, 255, 0.28) 100%
  );
  backdrop-filter: blur(19.649999618530273px);
  z-index: 1;
}
.iconChat {
  width: 51px;
  height: 51px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 41px;
  background: #fff;
}
