.main {
  box-sizing: border-box;
  background: #000;
  backdrop-filter: blur(37.650001525878906px);
  position: relative;
}
.textFi {
  margin-top: 30px;
  color: #fff;
  /* font-size: 200px; */
  font-weight: 800;
  text-transform: uppercase;
  opacity: 0.45;

  background: linear-gradient(180deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
